<div>
	<div class="text-center pt-3" style="color: green">
		@Text
	</div>
	<div class="text-center mt-3">
		<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
		      style="color: green">
		</span>
	</div>
</div>

@code {

	[Parameter]
	public string Text { get; set; } = string.Empty;

}